.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgb(5, 5, 5), rgb(15, 14, 14);
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
    box-shadow:rgb(5, 5, 5), rgb(15, 14, 14);
    transform: translateY(-3px) scale(1.1);
}
